
.news-content{
    position: relative;
    top: 0;
    width: 100%;
    color:white;
}
.news-content-title{
    width: 100%;
    /*height: 625px;;*/
    background-image: url('../img/news/news1/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 200px;
}
.news-content-title div{
    padding-top: 200px;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
}
.news-content-title p{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}
.news-content-bg{
    background-color: rgb(22,23,27);
}
.news-content-container{
    width: 68%;
    margin: 0 auto;
    padding: 4rem 0 5rem;;
}
.news-content-head{
    display: flex;
    align-items: center;
    color:rgb(254, 0, 0);
}
.news-content-head .news-content-head1{
    width: 30%;
    font-size: 1.8rem;
    height: 4rem;
}
.news-content-head .news-content-head2{
    width: 70%;
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.news-content-head2-right{
    margin-right: -2rem;
}
.news-content-head2 span{
    margin: 0.6rem -1.5rem 0;
    word-spacing: 0.4rem;

}
.news-content-head-img{
    text-align: center;
    margin: -2rem auto 3rem;
}
.news-content-head-img img{
    width: 100%;
}
.news-content-body{
    text-align: center;
    margin: 0 auto 1.5rem;
    
}
.news-content-body1{
    padding: 1rem .5rem;
    margin-top:4rem;
    display: flex;
    align-items: center;
    background-image: url("../img/news/news1/blank.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.news-content-body1-img{
    flex: 1;
    cursor: pointer;
    margin-top:-0.5rem;
}
.news-content-body1-text{
    flex: 1;
    height: 100%;
    text-align: left;
    padding-left: 1.0rem;
    margin-top:-0.5rem;
}
.news-text-content1{
    font-size: 1.3rem;
    color: rgb(65, 59, 60);
    margin-bottom: 1.5rem;
}
.news-text-content2{
    margin-bottom: 1.5rem;
    font-size: 2.0rem;
    line-height: 2.5rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
}
.news-text-content3{
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
}

.news-content-more{
    margin: -1.5rem auto 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -2rem;
}
.news-content-more span{
    margin: 0.6rem -1.5rem 0;
    font-size: 1.25rem;
    color: rgb(254, 0, 0);
    word-spacing: 0.4rem;
}


.news-detail-container{
    position: relative;
    width: 100%;
    background-color: rgb(22, 23, 27);
    color: white;
}
.news-detail-content{
    width: 100%;
}
.news-detail-title{
    width: 66%;
    margin: auto;
    padding-top: 8rem;
}
.news-detail-title-name{
    font-size: 4.0rem;
}
.news-detail-title-date{
    font-size: 4.0rem;
    margin-bottom: 1rem;
}
.news-detail-title-tips{
    font-size: 1.3rem;
    color: rgb(134, 144, 146);
}
.news-detail-body{
    padding-top: 2.5rem;
    width: 66%;
    margin: auto;
    display: flex;
}

.news-detail-body-left .news-detail-f{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../img/news/news2/qr.png');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.news-detail-body-left .news-detail-s{
    margin-top: 0.8rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../img/news/news2/s.png');
}

.news-detail-body-middle{
    margin-left: 2rem;
    margin-right: 3rem;
}
.detail-body-text{
    margin: 2rem 0 5rem;
    overflow: auto;
    font-size: 1.45rem;
    letter-spacing: 0.1REM;
}
.detail-body-text p{
    padding: 0.8rem 0;
    line-height: 25px;
}
.right-img-text1{
    font-size: 1.25rem;
    color: rgb(65, 59, 60);
    margin: 6px 0;
    letter-spacing: 0.13rem;
}
.right-img-text2{
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    line-height: 28px;;
    letter-spacing: 0.125rem;
}
.qrcode-img{
    position: absolute;
    top: 21.5%;
    left: 12%;
    width: 8rem;
    height: 8rem;
    z-index: 9;
}
.hidden-qrimg{
    display: none;
}

@media only screen and (max-width: 1080px){
        .news-content-container{
            width: 90%;
        }
        .news-content-body1{
            display: flex;
            flex-direction: column;
        }
        .news-content-body1{
            margin-top: 7rem;
            width: 100%;
            padding-left: -0.5rem;
            background-image: url("../img/news/news1/blank.png");
            background-repeat: no-repeat;
            background-size:  0;
        }
        .first-body{
            margin-top: -2rem;
        }
        .news-content-body1-text{
            padding-left: 0;
            margin-top: 1.0rem;
        }
        .news-content-title p{
            width: 90%;
            margin: auto;
            font-size: 2.0rem;
        }
        .news-content-title div{
            width: 90%;
            margin: auto;
            font-size: 3.8rem;
        }
}

@media only screen and (max-width: 1080px){
        .news-detail-body-left .news-detail-f{
            width: 0;
            height: 0;
        }
        .news-detail-body{
            padding-top: 2.5rem;
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        .news-detail-body-middle{
            margin-left: 0rem;
            margin-right: 0;
        }
        .news-detail-body-middle img{
            width: 100%;
        }
}
@media only screen and (max-width: 468px){
    .news-content-title{
        height: 100vh;
        max-height: 667px;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }
    .news-content-title #news_content_item1{
        padding-top: 0;
        margin-bottom: 0;
    }
    .news-content-title #news_content_item2{
        margin-top: 0;
    }
}