body {
    padding: 0px;
    margin: 0px;
    /*background-color: rgb(33,33,33);background-image:url('');background-size:cover;backgrond-attachment:fixed;background-position:center;position:relative;*/
    /*color:#ccc;*/
    /*font: 12px/1.5 Arial, 'Droid Sans', 'Hiragino Sans GB','Microsoft YaHei';*/
}

a {
    color:#777;
}

a:hover, a:focus {
    color:#fff;
}
#phoneLog:hover,#webLog:hover{
	cursor: pointer;
	}
.top-radius{
    border-top-left-radius: 2px;
    border-top-right-radius:2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:0px;
}

.bottom-radius{
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px;
}


.all-radius{
    border-top-left-radius: 2px;
    border-top-right-radius:2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius:2px;
}

.breath {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    -webkit-animation-name: breath;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes 'breath' {
    from {
        filter: alpha(opacity=1);
        -moz-opacity: 0.01;
        opacity: 0.01;
    }
    30% {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
    70% {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
    to {
        filter: alpha(opacity=1);
        -moz-opacity: 0.01;
        opacity: 0.01;
    }
}


@-moz-keyframes fullexpand {
    0% {
        width: 0px;
    }
    15% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes fullexpand {
    0% {
        width: 0px;
    }
    15% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}


.trans {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

*, *:active, *:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    -moz-outline-width: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}

/*.footer {
    color:#777;
}*/

#nav-bar {
    width: 100%;
    background-color: rgba(10,10,10,0.15);
    height: 50px;
    position: absolute;
    top:0px;
}

.nav-head {
    width:100%;margin-left: auto;margin-right: auto;
    height: 50px;
}
.selectLog:after{
		clear:both;
		content:"\200B";
		display:block;
		height:0;
}
.selectLog{
	background-color: rgba(50,50,50,0.6);
	border-bottom:1px solid rgba(50,50,50,1);
}
.selectLog >div:hover{
	cursor: pointer;
	color: white;
}

	#phoneLog{float: left; border-bottom: 1px solid #fff;font-size: 15px;padding: 10px 0 10px 0;width: 190px;color: #fff;}
	#webLog{float: right;border-bottom: 1px solid rgba(50,50,50,0);font-size: 15px;padding: 10px 0 10px 0;width: 189px;}
	.selectLog .v-line{float: left;width: 1px;height: 43px;background-color: #323232;}

	.other-wrap{overflow: hidden;margin-top: 20px;}
	.other-wrap .social-signup{float: left;}
	.other-wrap .social-signup span {
		vertical-align: middle;
	}
	.other-wrap .social-signup a {
		display: inline-block;
		color: #ccc;
		margin-left: 10px;
	}
	.other-wrap .social-signup i {
		vertical-align: middle;
		font-size: 16px;
		cursor: pointer;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}
	.other-wrap .social-signup i:hover {
		color: #fff;
	}
	.other-wrap .forget-pwd{float: right;}
	.other-wrap .forget-pwd a {
		margin-left: 3px;
		margin-top: 20px;
		color: #ccc;
		font-size: 12px;
		-webkit-transition: all 300ms ease-in-out;
		-moz-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}
	.other-wrap .forget-pwd a:hover {
		color: #fff;
	}