/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Modern Slide In
Version: 1.3
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2012 - 2013 unless otherwise stated.
*/

#sequence {
  margin-left: 10%;
  margin-right: 10%;
  /*position: absolute;*/
  overflow: hidden;
  /*width: 28%;;*/
  /*max-width: 1200px;*/
  background-repeat: no-repeat;
  background-position: 50% 100%;
  color: white;
  font-size: 0.625em;
  margin: 10vw 13vw;
  /*height: 25vw;*/
  width: 40vw;
  min-width: 447px;
  position: relative;
  /*position: fixed;*/
  top: 35%;
  /*height: 550px;*/
  z-index: 200;
}
#sequence > .sequence-canvas {
  /*height: 90%;*/
  width: 100%;
  position: relative;
  /*top: 10%;*/

  padding: 0;
  margin: 0;
}

.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: bold;
  font-family: Barlow-SemiBold;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  z-index: 1000;
  height: 75px;
  margin-top: -47.5px;
}

.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
}

.sequence-paused {
  opacity: 0.3;
}

.sequence-prev {
  left: 3%;
}

.sequence-next {
  right: 3%;
}

.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto;
}

#sequence-preloader {
  background: #d9d9d9;
}

.sequence-pagination {
  bottom: 1%;
  display: none;
  right: 6%;
  position: absolute;
  z-index: 10;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.sequence-pagination li {
  display: none;
  *display: none;
  /* Hack for IE7 and below as they don't support inline-block */
  height: 30px;
}
.sequence-pagination li img {
  display: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  opacity: 0.5;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: margin-bottom, opacity;
  -moz-transition-property: margin-bottom, opacity;
  -ms-transition-property: margin-bottom, opacity;
  -o-transition-property: margin-bottom, opacity;
  transition-property: margin-bottom, opacity;
}
.sequence-pagination li img:hover {
  display: none;
  margin-bottom: 4px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sequence-pagination li.current img {
  display: none;
  opacity: 1;
}

h2 {
  color: white;
  /*font-family: "Roboto", serif;*/
  font-weight: 200;
  text-transform: uppercase;
  border: 1px solid #fff;
}

h3 {
  /*font-family: "Roboto", serif;*/
  font-weight: 400;
}

.sequence-next,
.sequence-prev {
  position: absolute;
  opacity: 0.6;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.sequence-next:hover,
.sequence-prev:hover {
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.title {
  font-size: 40px;
  text-align: center;
  left: 70%;
  width: 100%;
  opacity: 0;
  bottom: 1%;
  z-index: 50;
}

#sequence .title{
    font-weight: 600;
    font-size: 64px;
    /*padding: 10px 20px;*/
    left: 30%;
    margin: 0 auto;
    border: 0;
    text-align: left;
    font-family: Barlow-SemiBold;
    /*text-shadow: 10px 11px rgba(68, 68, 68, 0.68);*/
}
#sequence .title span{
    color: #fa4616;
}

.animate-in .title {
  left: 45%;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.animate-out .title {
  left: 40%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.subtitle {
  color: #fff;
  text-align: center;
  font-size: 15px;
  left: 85%;
  width: 100%;
  opacity: 0;
  top: 101%;
}

.animate-in .subtitle {
  left: 45%;
  opacity: 1;
  font-size: 17px;
  color: #c5c5c5;
  /*font-weight: bold;*/
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin: 0 0 2.5vw;
  text-align: left;
}

.animate-out .subtitle {
  left: 35%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.slider-image {
  left: 30%;
  bottom: -48%;
  opacity: 0;
  position: relative;
  height: auto !important;
  max-height: 568px !important;
  width: 30%;
  min-width: 225px;
  /* prevents the slider-image from shrinking when the browser is resized */
  max-width: 266px;
}

.animate-in .slider-image {
  left: 5%;
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.animate-out .slider-image {
  left: 15%;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#top-slider .slider-content{
  display: none;
}
@media only screen and (max-width: 1268px){
    #sequence{
        margin: 4vw 13vw;
    }
}

@media only screen and (min-width: 992px) {
  #sequence .title {
    width: 100%;
  }
}
@media only screen and (max-width: 968px){
    #sequence .title{
      font-size: 50px
    }
}
@media only screen and (max-width: 838px) {
  #sequence {
    /*height: 550px;*/
  }
  #top-slider .slider-image {
    max-height: 530px !important;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
    #sequence {
      /*height: 500px;*/
      position: initial;
      width: 68vw;
      margin: 14vw auto;
    }
    #top-slider .slider-content{
      display: block;
      position: relative;
      top: -44vw;
      width: 76vw;
      margin: auto;
      color: #fff;
    }
    #top-slider .container{
      display: none;
    }

    #top-slider .slider-title{
      font-weight: 600;
      font-size: 50px;
      /*padding: 10px 20px;*/
      left: 30%;
      margin: 0 auto;
      border: 0;
      text-align: left;
      font-family: Barlow-SemiBold;
      /* font-family: "Barlow-Regular", "Arial" !important; */
      /*text-shadow: 10px 11px rgba(68, 68, 68, 0.68);*/
   }
   #top-slider .slider-title span{
      color: #fa4616;
   }
   #top-slider .slider-content .slider-text {
      opacity: 1;
      font-size: 17px;
      color: #c5c5c5;
      margin: 0 0 2.5vw;
      text-align: left;
    }
  #top-slider .lslider-button{
      position: relative;
      left: 0;
      top: 10%;
      display: flex;
  }
    #top-slider .slider-button .slider-href{
      background: url(../img/slider/007.png) no-repeat;
      background-size: 100% 100%;
      color: #fff;
      font-size: 16px;
      text-align: center;
      font-weight: 500;
      font-family: Barlow-SemiBold;
      /*padding: 6px 14vw;*/

      /*display: none;*/
      display: block;
  }
}
@media only screen and (max-width: 767px) {
  #top-slider .slider-content {
        top: -160vw;
    }
}
@media only screen and (max-width: 468px) {
    #top-slider .slider-title{
      font-size: 36px;
      text-align: center;
    }
    #top-slider .slider-content .slider-text{
      font-size: 18px;
      margin: 3vh 0px 3vh;
      text-align: center;
    }
}





#sequence .load-pdf-content{
    position: relative;
    left: 0;
    top: 10%;
    /*display: flex;*/
}

#sequence .load-pdf-content .button-load-white {
  flex: 40%;
  border: 1px solid rgba(40,215,181,1);
  border-radius: 25px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(40,215,181,1);
  color: #fff;
}
#sequence .load-pdf-content .button-load-middle{
  flex: 20%;
}
#sequence .load-pdf-content .button-load-yellow {
  flex: 40%;
  border: 1px solid rgba(245,170,81,1);
  border-radius: 25px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(245,170,81,1);
   color: #fff;
}

#sequence .load-pdf-content .button-find-detail{
  /*border: 1px solid red;
  background-color: red;*/
    background: url(../img/slider/007.png) no-repeat;
    background-size: 100% 100%;
    width: 280px;
    color: #fff;
    height: 38px;
    line-height: 38px;
    /* margin: 0 auto; */
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    font-family: Barlow-SemiBold;

    display: block;
    /*display: none;*/
}
#top-slider .slider-button .slider-href-item2, 
#top-slider .slider-button .slider-href-item3,
#sequence .load-pdf-content .slider-href-item2, 
#sequence .load-pdf-content .slider-href-item3{
    background: none;
    text-align: left;
    line-height: 28px;
    padding-top: 10px;
}
#top-slider .slider-button .slider-href-item2 span, 
#top-slider .slider-button .slider-href-item3 span,
#sequence .load-pdf-content .slider-href-item2 span, 
#sequence .load-pdf-content .slider-href-item3 span{
  font-size: 15px;
}

.selected-language{
  display: block !important;
}

/*原型版本下载*/
/* .version-container{
  width: 100%;
  padding: 3vw 0;
  display: none;
  background-color: #16171b; 
}
.version-container .version-content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.version-container .version-content .button-version{
    padding: 1vw 3.5vw;
    border: 0.18vw solid #fff;
    border-radius: 1vw;
    margin-right: 6vw;
    font-size: 2.1vw;
    color: #fff;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.version-container .version-content .button-version:hover{
    border: 0.18vw solid #cf0202;
    color: #cf0202;
}
.version-container .version-content .button-version>i{
    margin-right: 1.6vw;
    margin-top: 0.6vw;
}
.version-container .version-content .button-version>div{
    text-align: center;
}
.version-container .version-content .version-content-text{
    width: 48vw;
    font-size: 1.7vw;
    text-align: center;  
} */

/*en*/
/* .version-container .version-content .button-version>div.en-version{
    font-size: 1.6vw;
}
.version-container .version-content .version-content-text.en-version{
    font-size: 1.4vw;
} */

/* .new-button-version{
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
} */

#top-slider .slider-button .new-button-version, 
#sequence .load-pdf-content .new-button-version{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    padding-top: 0;
    margin-top: 20px;
}
#top-slider .slider-button .new-button-version:hover,
#sequence .load-pdf-content .new-button-version:hover{
    border: 1px solid #fa4616;
    color: #fa4616;
}
#top-slider .slider-button .new-button-version>i, 
#sequence .load-pdf-content .new-button-version>i{
    margin-right: 5px;
    margin-top: 2px;
}

#top-slider .slider-button .en-version, 
#sequence .load-pdf-content .en-version{
    width: 40%;
}


@media only screen and (max-width: 767px) {
    /* .version-container .version-content{
        flex-direction: column;
    }

    .version-container .version-content .button-version{
        margin: 3vw 0;
        font-size: 3vw;
    }
    .version-container .version-content .button-version>div{
        font-size: 3vw;
    }
    .version-container .version-content .version-content-text{
        width: 80%;
        margin: 3vw 0;
        font-size: 2.2vw;
    }
    
    .version-container .version-content .button-version>div.en-version{
        font-size: 2.4vw;
    }
    .version-container .version-content .version-content-text.en-version{
        font-size: 2.2vw;
    } */
    #top-slider .slider-button .new-button-version, 
    #sequence .load-pdf-content .new-button-version{
        width: 30vw;
    }
    #top-slider .slider-button .en-version, 
    #sequence .load-pdf-content .en-version{
        width: 35vw;
    }
}

@media only screen and (max-width: 500px) {
    /* .version-container .version-content .button-version{
        padding: 0.5rem 2rem;
        border: 0.18vw solid #fff;
        border-radius: 8px;
        margin-right: 0vw;
        font-size: 2.5rem;
    }
    .version-container .version-content .button-version,
    .version-container .version-content .version-content-text{
        margin: 6vw 0;
    }

    .version-container .version-content .button-version>i{
        margin-right: 1.6rem;
        margin-top: 0.6rem;
    }
    .version-container .version-content .button-version>div{
        font-size: 2.2rem;
    }
    .version-container .version-content .version-content-text{
        font-size: 1.6rem;       
    }

    .version-container .version-content .button-version>div.en-version{
        font-size: 1.8rem;
    }
    .version-container .version-content .version-content-text.en-version{
        font-size: 1.4rem;
    } */

    #top-slider .slider-button .new-button-version, 
    #sequence .load-pdf-content .new-button-version{
        width: 75%;
    }
    #top-slider .slider-button .en-version, 
    #sequence .load-pdf-content .en-version{
        width: 90%;
    }
}




@media only screen and (min-width: 1068px){
    #nav-button {
        float: right;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 1067px){
    #nav-button .navbar-nav {
        margin: 7.5px;
    }
}

@font-face {
    font-family: Barlow-SemiBold;
    src: url(../fonts/Barlow-SemiBold.ttf);
}
@font-face {
    font-family: Barlow-Regular;
    src: url(../fonts/Barlow-Regular.ttf);
}